* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.ask-box {
  width: 90vw;
  position: absolute;
  top: 120px;
  left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}
.ask-box h2 {
  font-family: "Rubik", sans-serif;
  font-size: 80px;
}
.btn {
  background-color: red;
  border-radius: 10%;
  border-style: 1px #000 solid;
  box-shadow: 1px 1px 1px #ccc;
  padding: 15px 60px;
  margin: 0 40px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.hearts {
  height: 150px;
  width: auto;
}
.stars {
  background-image: url(./images/534591_c67b4.gif);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#resultado p {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
}

@media (max-width: 768px) {
  .ask-box h2 {
    font-size: 50px;
  }
  .btn {
    padding: 10px 40px;
    margin: 0 20px;
    font-size: 16px;
  }
}
